
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/css/font-awesome";

@import "colors";
@import "layout";

/*commend added*/

// html,body
html {
    height: 100%;
}
body {
    background: #fafafa;
    height: 100%;
}

// layout and footer
.welcome-layout {
    background-image: url(https://unsplash.it/1800/1600?image=1006);
    background-repeat: no-repeat;
    // background-size: cover;
    background-position: 100% 25%;
    .content-section {
        margin-top: 40px;
        .welcome-msg {
            padding: 20px 20px 0 0;
        }
    }
    .site-footer p {
        color: #fafafa !important;
    }
}
.main-layout {
    padding-top: 80px;
}
.site-footer {
    margin-top: 40px;
}

// global
.panel {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.flow-text {
    font-size: 24px;
}
.img-circle {
    border: 1px solid #ccc;
}

// pagination style
.pager {
    li {
        &.active {
            display: inline-block;
            padding: 5px 14px;
            background-color: #fafafa;
            border: 1px solid #aaa;
            border-radius: 15px;
            cursor: not-allowed;
        }
    }
}

// error page
.error404 {
    h1 {
        font-weight: bold;
    }
}

// main menu
.main-menu {
    li {
        a {
            color: #b2ebf2 !important;
            cursor: pointer;
            &:hover {
                color: #fff !important;
            }
        }
    }
}

// status block
$stat-block-img-width: 60px;
.stat-block {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    .pull-left {
        width: $stat-block-img-width;
        min-width: $stat-block-img-width;
        max-width: $stat-block-img-width;
    }
    .pull-right {
        width: calc(100% - #{$stat-block-img-width});
        min-width: calc(100% - #{$stat-block-img-width});
        max-width: calc(100% - #{$stat-block-img-width});
    }
    .author-info {
        h3 {
            margin: 0 0 7px;
            padding: 0;
            font-size: 18px;
            font-weight: bold;

        }
    }
    .content {
        p {
            margin: 0;
            padding: 5px 0;
            span {
                font-style: italic;
                color: #777;
                font-size: 13px;
                &.pull-right {
                    width: auto !important;
                    min-width: auto !important;
                    max-width: auto !important;
                }
            }
        }
    }
}

@import "media";
